* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}
.form_container_add_new {
    display: flex;
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
