* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
}
body {
    inset: 0;
    width: 100%;
    background-color:rgba(192,192,192,0.3);
}
.pay_item_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pay_container {
    margin: 40px 0;
    width: 40%;
    height: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.pay_container .item_pay {
    background-color: #fff;
    height: 150px;
    width: 100%;
    display: flex;
}
.item_pay .item_img {
    width: 30%;
    height: 150px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_pay .item_img img {
    width: 70%;
    height: 120px;
}
.item_pay .item_inf {
    width: 70%;
    height: 150px;
    padding: 5px;
    display: flex;
}
